<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Binary Text</title>
</head>

<body>
  <main
    style="display: flex; flex-direction: column; align-items: center; max-width: 800px; height: 100%; margin: auto;">
    <h1>
      Binary Text!
    </h1>

    <form style="width: 100%;">
      <input type="text" name="search" value="<%= data.search %>">
      <button type="submit">Search</button>
    </form>

      <p style="font-size: 40px">
        <%= data.binary %>
      </p> 
      <p style="font-size: 200px; margin: 0">
        <%= data.text %>
      </p>
  </main>
</body>

</html>